recursive-include pretix_fontpackblivande/static *
recursive-include pretix_fontpackblivande/templates *
recursive-include pretix_fontpackblivande/locale *
recursive-include pretix_fontpackblivande *.txt
